<header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
            <h3>The Online Bookstore</h3>
            <a class="nav-link" href="<%= baseURL %>">Home</a>
            <a class="nav-link" href="<%= baseURL %>books">Our books</a>
            <a class="nav-link" href="<%= baseURL %>books/cart">Cart</a>


        <div class="nav-right">
           <% if (user) { %>
            <a class="nav-link" href="<%= baseURL %>account/logout">Logga ut</a>
          <% } else { %>
            <a class="nav-link" href="<%= baseURL %>account/login">Log in</a>
            <a class="nav-link" href="<%= baseURL %>account/register">Register</a>
          <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>